<div mat-dialog-content>
  <form class="formCont">
    <div class="contInput">
      <mat-form-field class="formFCont">
        <mat-label>Equipo</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="contInput">
      <mat-form-field class="formFCont">
        <mat-label>Jugador</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
